@CHARSET "ISO-8859-1";
/*************************************************************
Persistent Systems Ltd. 
File Name: main.css
Version: 1.0
Author Name: Shail Rakhunde
Created In: April, 2015
//////////////////////////////////////////////////////////////

Project Details:
--------------
Project Name: THINKlab - Story Composer 2
Layout: fluid
Scope: Template layout styling
//////////////////////////////////////////////////////////////
**************************************************************/
.tl-sc-template-frame {
	/* margin: 1% 5% 1% 5%; */
	/* font-size: 480px; */
	/* font-size: 34vw; */				/* Size as per older Story Composer UI */
	font-size: 25.5vw;				/* Proper size for normal screen */
	/* font-size: 2630%; */				/* Proper size for normal screen */
	background-color: #B8BFC7;
	/* width: 3.104em;
	height: 0.5677em; */
	width: 3.18em;
	height: 0.625em;
  	padding: 0.03em 0.04em 0.03em 0.04em;
}
@media (min-width: 768px) {
  .tl-sc-template-frame {
    font-size: 236px;
  }
}
@media (min-width: 992px) {
  .tl-sc-template-frame {
    font-size: 305px;
  }
}
@media (min-width: 1200px) {
  .tl-sc-template-frame {
    font-size: 367px;
  }
}

.tl-sc-template-area {
	position: relative;
	background-color: #B8BFC7;
	width: 3.104em;
	height: 0.5625em;
}

.tl-sc-template-slot {
	position: absolute;
	text-align: center;
	overflow: hidden;
	border: 1px white solid;
}

.tl-sc-media-slot {
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px thin white;
}

.tl-sc-media-slot iframe {
	position: absolute;
	left: 0;
	overflow: hidden;
	width: inherit;
	height: inherit;
	border: 0px;
}

.tl-sc-media-slot img {
	position: absolute;
	left: 0;
	overflow: hidden;
}

div.tl-sc-template-slot-overlay {}

div.tl-sc-template-slot-options {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
div.tl-sc-template-slot-overlay:hover div.tl-sc-template-slot-options {
	display: block;
}
div.tl-sc-template-slot-primary-opt {
	position: relative;
	top:0%;
	width: 100%;
	height: 70%;
}
div.tl-sc-template-slot-option-footer {
	position: absolute;
	bottom:0%;
	width: 100%;
	height: 30%;
	background-color:#61bbb8;
	color:#ffffff;
  	border-top: 1px solid #e5e5e5;
}
div.tl-sc-template-slot-option-edit{
	position: absolute;
	top:12px;
	left:70px;
}
div.tl-sc-template-slot-option-edit-big{
	top:45px;
	left:150px;
}
div.tl-sc-template-slot-option-edit img{
	display: block;
	float: left;
}
/* div.tl-sc-template-slot-option-edit-big img{
	width: 60px;
} */
div.tl-sc-template-slot-option-footer-play{
	position: relative;
	float: right;
	right: 15%;
	top: 30%;
}

div.tl-sc-template-slot-option-footer-title{
	position: relative;
	float: left;
	margin-top:5px;
	width: 80%;
	height: 90%;
	color:#ffffff;
	font-size: 12px;
}

div.tl-sc-template-slot-option-footer-title-big{
	position: relative;
	float: left;
	margin-top:15px;
	width: 80%;
	height: 90%;
	color:#ffffff;
	font-size: 15px;
}

div.tl-sc-template-slot-option-footer-play img{
	display: block;
	float: left;
	margin-top:-5px;
	margin-right:-15px;
}
div.tl-sc-template-slot-option-footer-play-big img{
	margin-top:0px;
	margin-right:-45px;
	width: 30px;
}

div.colorDiv {
	width: 100%;
	height: 100px;
}


.bgBlack {
/* !vector [0.0, 0.0, 0.0, 1.0] */
	background-color: rgb(0,0,0);
	color: white;
}

.bgGreen {
/* !vector [0.255, 0.678, 0.282, 1.0] */
	background-color: rgb(105,114,6);
	color: white;
}

/* template 3 */
/* !vector [0.001, 0.110, 0.204, 1.0] */
.bgBlue {
	background-color: rgb(0,25,52);
	color: white;
}

/* template 3 */
/* !vector [0.929, 0.302, 0.235, 1.0] */
.bgOrange {
	background-color: rgb(240,78,55);
	color: white;
}

/* template 3 */
/* !vector [0.588, 0.588, 0.588, 1.0] */
.bgGrey {
	background-color: rgb(150,150,150);
	color: white;
}

/* template 3 */
/* !vector [0.847, 0.867, 0.208, 1.0] */
.bgYellow {
	background-color: rgb(215,223,35);
	color: white;
}

/* template 4 */
/* !vector [0.388, 0.733, 0.722, 1.0] */
.bgLightBlue {
	background-color: rgb(97,187,184);
	color: white;
}

.bgDarkRed {
	background-color: rgb(126,35,34);
	color: white;
}

.bgColorSquare{
	height: 30px;
	width: 30px;
	float: left;
	margin-right: 10px;
}