<div class="container" style="padding: 0px;margin: 0px;width: 1400px;max-width: 1500px;">
<!-- <div class="col-md-2" id="sidebar">
  <div class="side">Location</div>
   <div class="side" style="background-color: blue">Persistent Systems</div>
   <div class="side" style="background-color: light blue">India</div>
   <div class="side" style="background-color: light blue">Nagpur</div>
   <div class="side" style="background-color: light blue">Mayetri</div>
</div> -->
<div class="col-md-2" id="sidebar">
  <div class="side" style="background-color: #245682;">Location</div>
   <div class="side" style="background-color: #3071a9;"><img style="height: 30px;" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/black-white-pearls-icons-symbols-shapes/017650-black-white-pearl-icon-symbols-shapes-circle-clear.png">Persistent</div>
   <div class="side" style="background-color: #428bca;"><img style="height: 25px;" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/black-white-pearls-icons-symbols-shapes/017650-black-white-pearl-icon-symbols-shapes-circle-clear.png">India</div>
   <div class="side" style="background-color: #6aa3d5;"><img style="padding-left: 45px; height: 20px;" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/black-white-pearls-icons-symbols-shapes/017650-black-white-pearl-icon-symbols-shapes-circle-clear.png">Nagpur</div>
   <div class="side" style="background-color: #92bce0;"><img style="padding-left: 55px; height: 15px;" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/black-white-pearls-icons-symbols-shapes/017650-black-white-pearl-icon-symbols-shapes-circle-clear.png">Mayetri</div>
</div>
<div class="col-md-9">
<md-card class="appCard">
     <md-card-title style="padding-top: 8px;">
       <md-card-title-text>
			<div layout="column"" layout-align="center center">
				<md-card class="appCard">
					<md-card-header-text md-colors="::{backgroundColor: 'default-primary-700'}"  style="background-color: rgb(25, 118, 210);color: rgb(255, 255, 255);height: 40px;">
					     <h3 class="md-title" style="margin-top: 10px;">Book meeting</h3>
					</md-card-header-text>
			        <md-card-title style="padding-top: 8px;">
			          <md-card-title-text>
						      <form class="meetingForm appCard" name="userForm" style="height: 220px;">
						      	<div class="dateRow" layout-gt-xs="row">
						      		<div layout-gt-xs="column">
						      			<h3>Date:</h3>
						      		</div>
						      		<div layout-gt-xs="column">
						      			<md-input-container>
						            		<label>Date</label>
						            		<md-datepicker ng-model="meetingDate"></md-datepicker>
						          		</md-input-container>
						      		</div>
						      	</div>
						      	<div class="timeRow" layout-gt-sm="row">
						      		<div layout-gt-sm="column">
        								<div>
							              <h3>From:</h3>
							              <input type="text" class="startTimeInput" ng-model="startTime" name="start_time" class="timepicker" placeholder="hh:mm PM" data-default-time="false">
							              
							            </div>
						      		</div>
						      		<div layout-gt-xs="column">
        								<div>
							              <h3>To:</h3>
							              <input type="text" ng-value="startTime" class="endTimeInput" ng-model="endTime" name="start_time" class="timepicker" placeholder="hh:mm PM" data-default-time="false">
							            </div>
						      		</div>
						      	</div>
						      	<md-card-actions layout="row" layout-align="end center" style=" height: 10px;">
			         				 <md-button class="md-raised md-accent" ng-click="getRooms()" style="height: 12px;">Get Rooms</md-button>
			        			</md-card-actions>
						      </form>
			          </md-card-title-text>
			        </md-card-title>
			        
			     </md-card>
			</div>
       </md-card-title-text>
     </md-card-title>
</md-card>
</div>
</div>
<div ng-if="showRooms" ng-init='status=1'>
	<md-card class="appcard" style="height: 250px;">
		<md-card-header-text md-colors="::{backgroundColor: 'default-primary-700'}" style="background-color: rgb(25, 118, 210);color: rgb(255, 255, 255);height: 40px;">
			<h3 class="md-title" style="margin-top: 10px;">Available rooms</h3>
		</md-card-header-text>
		<md-card-actions layout="row" layout-align="start" flex style="overflow: scroll;">
			 <div ng-repeat="room in bookRoomStatus.result.roomStatus">
			  <div ng-class="checkColor(room)">
			  		<div class="test">
			  			<label class="roomname">{{room.roomName}}</label>
			  			<span class="location">M4-Nagpur</span>
			  			<button class="bookbtn">Book</button></div>
			  			</div>
			  		</div>
			  </div>	
		</md-card-actions>
	</md-card>  
 </div>  